.App {
  text-align: left;
  height: 100vh !important;
  background-color: darkgrey;
}

#Home {
  text-align: center;
  /* background-color: black;
  color: white; */
}
.responsive{
  width: 100%;
  height: auto;
}

#all-projects{
  text-align: center;

}
#project-card{
  border: #282c34;
  text-align: center;
  padding: 10px;
}

#Donation-Form{
  text-align: center;
}
